/* Data Table */

#table-container{
    border-top: 1px solid #ececec;
}

.tabulator .tabulator-header, .tabulator .tabulator-header .tabulator-col {
    background: #fafafa;
}

.tabulator .tabulator-headers{
    background: #fafafa;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
    padding-top: 5px;
    padding-bottom: 5px;
}

.tabulator .tabulator-header .tabulator-col {
    background: #fafafa;
}

.tabulator .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols {
    border-top: 1px solid #ececec;
}

.tabulator-row {
    border-bottom: 1px solid #ececec;
    padding-top: 3px;
    padding-bottom: 3px;
}

.tabulator * {
    font-size: 12px;
}
