{% extends 'layoutLogin.html' %}

{% block form %}
<!-- <script src="{{ url_for('static', filename='js/auth.js') }}"></script> -->

<form class="form px-5 pb-4 pt-4" id="login_form" action="{{ url_for('auth.login_auth') }}" method="POST">
    <div class="form-title form-group mb-4">
        <h4>LOG IN</h4>
    </div>

    <div class = "d-flex justify-content-center">
        <div class="form-group m-0 p-0">
            <div class="form-group mb-3">
                <div class="d-flex justify-content-center">
                    <input class="form-control" type="text" placeholder="Username" id="username" name="username" required/>
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-center">
                    <input class="form-control" type="password" placeholder="Password" id="password" name="password" required/>
                </div>
            </div>
        </div>
    </div>
    
    <!--Buttons-->
    <div class="text-center d-block">
        <p class = "error-message text-danger p-0 m-0">{{ error_message }}</p>
        <button type="submit" class="primary-btn mt-2 mb-4" id="employeelogin_submit">Login</button>
    </div>  
        
    </div>

</form>


{% endblock %}